.navigation{
    display: flex;
    justify-content: flex-end;
    height:16vh;
    margin:0 15px 0 15px;
}

.para{
    padding:20px;
    text-align: center;
    font-size: 22px;
    font-weight: 550;
    color:black;
    cursor: pointer;
}

.para:hover{
    transform:scale(1.05);
    text-decoration: underline;
}