.App {
  text-align: center;
}

.center{
  display:flex;
  justify-content: center;
}

.particles{
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: -1;
}

@media only screen and (max-width:400px){
  #avatar,#detect-faces,#view-profile,#sign-out,#touch-conf,#signin-btn,#register-btn{
    cursor:none;
  }
}